body{
    font-family: 'Tiro Devanagari Marathi', serif;
    
}
h1{
  text-transform: capitalize;
}
.name-style{
  color: orange;
}
.box1{
  width: 40%;
 
  float: left;}
.box1 img{
  width: 100%;
}
  

